.settings
.svn
local.properties
orig-build.xml
android/res/drawable/torch_button.xml
android/res/drawable-hdpi/torch.png
android/res/drawable-hdpi/torch_pressed.png
android/src/com/
bin/
gen/
PauseButton.java
TranslatorBing.java
TranslatorGoogle.java
actionscript/
android-integration/
androidtest/
core/
cpp/
csharp/
iphone/
jruby/
rim/
symbian/
zxing.appspot.com/
